@media screen and (max-width: 992px) {
    .hideDates {
        display: none;
    }
    p.move-right2{
    	font-size: 14px;
    }
}

a{
	color: black;
}

 .cv-container{
 	margin-top: 20px;
 	margin-bottom: 20px;
 	border: 1px solid black;
 	box-shadow: 10px 5px 5px #383838;
 	background-color: #fff;
 	color: black;
 	padding: 50px;
 }

 #pdf{
color: white;
 }
 h5.no-margin-top{
 	margin-top:0px;
 }

 .cv-links{
 	color: grey;
 	font-weight: bold;
 }

 .cv-links:hover{
 	text-decoration: none;
 }

 h3.remove-margin{
 	margin-top:5px;
 }

.myCols{
	list-style-type: none;
	padding-left: 0px;
}
/*div.padding-left{
	padding-left:40px;
}*/

.frameworks{
	text-align: left;
}

#workDates{
padding-left: 19%;
}

#email{
	padding-left: 0 !important;
}

.move-right2{
	padding-left: 29.5%;
}

.move-right{
	padding-left: 30%;
}

#work{
	padding-left: 26%;
}

#cv-title{
	padding-left: 30%;
}


